---

import Title from "@components/ui/Title.astro";
import Hr from "@components/ui/Hr.astro";
import Post from "@components/blog/Post.astro";
import MainLayout from "@layouts/MainLayout.astro";

---

<MainLayout
    title="My Articles | Blog's Paulina front-end web Developer"
    description="A collection of posts exploring front-end development, web design, personal projects, and practical insights from building real digital products."
>
    <main>
        <div class="pt-8">
            <div>
                <Title title="Latest Articles" lineDown={true} />
                <p>
                    Below are all my recent blog posts. Click on any title to
                    read the full article.
                </p>
            </div>
            <Hr />
            <ul class="flex flex-col pt-8 gap-6 mb-8">
                <li>
                    <Post
                        title="Balancing Hobbies and Coding: How Hiking and Rock Climbing Help Me Stay Motivated"
                        link="blog/singleBlog"
                        date="February 18, 2025"
                        description="Thoughts on maintaining energy and focus through outdoor activities and exercise."
                        hr={true}
                    />
                </li>
                <li>
                    <Post
                        title="Reading for Inspiration: 5 Books That Shaped My Coding Journey"
                        link="blog/singleBlog"
                        date="February 15, 2025"
                        description="Thoughts on maintaining energy and focus through outdoor activities and exercise."
                        hr={true}
                    />
                </li>
                <li>
                    <Post
                        title="Overcoming Imposter Syndrome as a New Developer"
                        link="blog/singleBlog"
                        date="February 10, 2025"
                        description="Thoughts on maintaining energy and focus through outdoor activities and exercise."
                        hr={true}
                    />
                </li>
                <li>
                    <Post
                        title="Exploring the World of Responsive Design"
                        link="blog/singleBlog"
                        date="February 4, 2025"
                        description="Thoughts on maintaining energy and focus through outdoor activities and exercise."
                        hr={true}
                    />
                </li>
                <li>
                    <Post
                        title="My Favorite Dev Tools for Productivity"
                        link="blog/singleBlog"
                        date="January 29, 2025"
                        description="Thoughts on maintaining energy and focus through outdoor activities and exercise."
                        hr={true}
                    />
                </li>
                <li>
                    <Post
                        title="Balancing Hobbies and Coding: How Hiking and Rock Climbing Help Me Stay Motivated"
                        link="blog/singleBlog"
                        date="February 18, 2025"
                        description="Thoughts on maintaining energy and focus through outdoor activities and exercise."
                        hr={true}
                    />
                </li>
                <li>
                    <Post
                        title="Reading for Inspiration: 5 Books That Shaped My Coding Journey"
                        link="blog/singleBlog"
                        date="February 15, 2025"
                        description="Thoughts on maintaining energy and focus through outdoor activities and exercise."
                        hr={true}
                    />
                </li>
                <li>
                    <Post
                        title="Overcoming Imposter Syndrome as a New Developer"
                        link="blog/singleBlog"
                        date="February 10, 2025"
                        description="Thoughts on maintaining energy and focus through outdoor activities and exercise."
                    />
                </li>
            </ul>
        </div>
    </main>
</MainLayout>
