---

import Hr from "@components/ui/Hr.astro"

import type { CollectionEntry } from "astro:content";



interface Props {
    post:CollectionEntry<"blog">,
    hr?:boolean,
    slug?:string,
    showDescription?:boolean,
}

const { post, hr, slug, showDescription } = Astro.props;

const frontmatter = post.data;



---

<article>
    <h3 class="mb-2">
        <a
            class="text-xl font-semibold text-neutral-800 hover:underline hover:text-neutral-600 hover:transition:all hover:duration-300 dark:text-white"
            href={`/Astro-Blog/post/${post.slug}`}
            aria-label=`Open Post ${frontmatter.title}`
        >
            {frontmatter.title}
        </a>
    </h3>
    <time class="italic text-neutral-600 dark:text-neutral-400">{Intl.DateTimeFormat('en-US',{year:'numeric',month:'long',day:'numeric'}).format(frontmatter.pubDate)}</time>
    {showDescription && (
        <p class="text-neutral-600 mt-1 text-lg! dark:text-neutral-400">{frontmatter.description}</p> 
    )}
        {hr && (
        <Hr smallMarginTop={true} />
    )}
</article>
